/* Custom Scrollbar Styling */
.recent-pastes::-webkit-scrollbar {
   
  width: 8px; /* Width of the scrollbar */
}

.recent-pastes::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.032); /* Background of the track */
  border-radius: 10px;
}

.recent-pastes::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4); /* Thumb (draggable part) color */
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1); /* Optional: border to highlight thumb */
}

.recent-pastes::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6); /* Thumb color when hovered */
}

#t-area::-webkit-scrollbar {
   
  width: 8px; /* Width of the scrollbar */
}

#t-area::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.032); /* Background of the track */
  border-radius: 10px;
}

#t-area::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4); /* Thumb (draggable part) color */
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1); /* Optional: border to highlight thumb */
}

#t-area::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6); /* Thumb color when hovered */
}
