/* contact_us.css */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
}

.contact-content {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-heading {
    font-size: 3rem;
    color: #0984E3;
    margin-bottom: 15px;
}

.contact-description {
    color: #83c9ff;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #e05d9c;
    border: 0;
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-heading {
    animation: fadeIn 1s ease-out forwards;
}

.animate-description {
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s;
}

.animate-form {
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1s;
}

.animate-success {
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1.5s;
}
